.videos {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #1c1e21;
  align-items: center;
}

.video {
 display: contents;
}

.video h3 {
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}


  
