.contacts 
{
  padding: 20px;
  background-color: #1c1e21;
}

#pageContacts {
    grid-area: ads;
  }

.contact {
  display: flex;
  align-items: center;
}

  .img {
    width: 30px;
    padding: 10px;
  }
  
