.sideBar 
{
  padding: 20px;
  background-color: #282c34;
  
}

#pageSideBar {
    grid-area: nav;
  }


.item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 15px;
  }

  

.item:hover {
  background-color:#5d5c5c;
  border-radius: 10px;
  }

.img {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    fill:#4287f5;
  }
 
.img.auth_user {
    border-radius: 20px;
  }
 