.app {
  display: grid;
  grid-template-areas: 
  'header header '
  'nav article'
  'footer footer';
  grid-template-rows: 60px 1fr ;
  grid-template-columns: 15% 1fr ;
  gap: 10px;
  height: 100vh;
  margin: 0;
  background-color: #282c34;
  color: white;
}

.mainContent 
{
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  padding: 20px;
  background-color: #1c1e21;
  width: 1200px;
  border-radius: 10px;
}

#mainContent {
    grid-area: article;
  }